.container {
  flex: 1 0 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > * {
  margin-top: 30px;
}

.container > *:last-child {
  margin-top: 30px;
  margin-bottom: 30px;
}
