
# python deploy
venv

# Dependencies
node_modules

# Production Builds
dist
build

# Secrets
.env

# Testing
coverage

# Logging
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.idea
**/.vscode/

**/.expo/
**/npm-debug.*
**/*.jks
**/*.p8
**/*.p12
**/*.key
**/*.mobileprovision
**/*.orig.*
**/web-build/

# Misc
.DS_Store
