.container {
  display: flex;
  flex-direction: row;

  margin-top: 44px;
  margin-bottom: 44px;
}

.client_image_container {
  flex-grow: 1;

  display: flex;
  justify-content: center;
}

.client_info {
  flex-grow: 2;
}

.client_info_username {
  font-size: 20px;
  margin-right: 20px;
}

.client_image {
  width: 150px;
  height: 150px;
}

.client_info_row {
  margin-bottom: 20px;

  display: flex;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  min-width: 260px;

  list-style-type: none;
}

.btn,
.btn:active {
  border-radius: 5px;
  background-color: #0095f6;
  color: #ffffff;
  padding: 8px;
  &:hover {
    cursor: pointer;
  }
}
