.username_header {
  font-size: 24px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form_row {
  display: flex;
  flex-direction: row;

  margin-bottom: 16px;
}

.left_col {
  margin-left: 32px;
  margin-right: 32px;
  flex: 0 0 194px;

  display: flex;
  flex-direction: row-reverse;

  font-weight: bold;
}

.right_col {
  flex: 0 0 335px;
}

.sidenote {
  color: gray;
  margin-top: 5px;
  margin-bottom: 5px;
}

.client_image {
  width: 38px;
  height: 38px;
}
