.container {
  width: 100%;
  height: 600px;
  max-width: 815px;
  margin: auto 0;

  display: flex;
  justify-content: center;
}

.left {
  border: 1px #dbdbdb solid;
  padding: 0px;
}

.img {
  vertical-align: bottom;
  object-fit: cover;
}

.right {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.header {
  padding: 16px 16px;

  display: flex;

  border: 1px solid #dbdbdb;
}

.full_text_container {
  padding: 16px 16px;

  border-style: solid;
  border-width: 0px 1px 1px 0px;
  border-color: #dbdbdb;
}

.comments {
  padding: 16px 12px;

  display: flex;
  flex-direction: column;
  flex: 1 0 0;

  border-style: solid;
  border-width: 0px 1px 1px 0px;
  border-color: #dbdbdb;

  overflow-y: scroll;
}

.stats {
  padding: 4px 16px;

  border-style: solid;
  border-width: 0px 1px 1px 0px;
  border-color: #dbdbdb;
}

.add_comment {
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  border-color: #dbdbdb;
}

.client_image {
  flex: 0 0 32px;

  width: 32px;
  height: 32px;

  margin-right: 15px;
}

.client_info {
  display: flex;

  flex: 1 0 0;

  align-items: center;
}

.username {
  color: black;
  font-weight: bold;
  margin-right: 5px;
}

.dot {
  margin-right: 5px;
}

.follow {
  color: rgba(var(--d69, 0, 149, 246), 1);
  margin-right: 5px;
}

.more {
  margin-left: auto;
  margin-right: 5px;
  &:hover {
    cursor: pointer;
  }
}

.likes {
  font-weight: bold;
}

.createdAt {
  font-weight: lighter;
  color: #636363;
}

.stats > * {
  margin-bottom: 8px;
}

.actions {
  display: flex;
}

.icon {
  display: inline-block;

  margin-left: 5px;
  margin-right: 5px;

  font-size: 25px;
}

.bookmark {
  margin-left: auto;
  margin-right: 0px;
}
