.container {
  flex-grow: 1;

  width: 100%;
  max-width: 935px;
  margin: 0px auto;

  display: flex;
  flex-direction: column;

  position: relative;
}

.tabbar {
  display: flex;
  justify-content: center;
  flex-direction: row;

  margin-bottom: 15px;
}

.add_post_btn {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 25px);
}

.add_post_btn:hover {
  cursor: pointer;
}

.icon {
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  font-size: 50px;
}
