.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(38, 38, 38, 0.2);
}

.input_container {
  margin: 5px;
}

.icons_container {
  display: flex;
  margin: 5px;
}

.header {
  font-size: 24px;
}

.link {
  color: #000;
}

.icon {
  display: inline-block;
  margin: 10px;
  font-size: 25px;
  width: 25px;
  height: 25px;
}

.home {
  color: black;
}
