.container {
  display: flex;
}

.client_image {
  flex: 0 0 32px;

  width: 32px;
  height: 32px;

  margin-right: 15px;
}

.full_text_container > * {
  margin-right: 5px;
}

.full_text {
  font-size: 14px;
}

.username {
  color: black;
  font-weight: bold;
}
